<!doctype html>
    <html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{{ url_for('static', filename='accueil.css') }}" rel="stylesheet" type="text/css" />
    </head>

    <body>

        <div class="top-bar" id="realEstateMenu">
            <div class="top-bar">
                <ul class="menu" data-responsive-menu="accordion">
                    <li class="menu-text">Data Engineering</li>
                    <li><a href="https://fr.linkedin.com/in/marine-dussaussois-0159bb155">Dussaussois Marine</a></li>
                    <li><a href="https://fr.linkedin.com/in/elias-bouillanne">Bouillanne Elias</a></li>
                </ul>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="medium-7 large-6 columns">
                <h1>Know what your drugs are made of.</h1>
                <p class="subheader">This web application is kind like a dictionnary of drugs. You can know exactly what your drugs are made of, from the substance(s) to the excipients.
                    It refers to "Vidal" but this is easier to use. Make the experience !
                </p>
                <p class="subheader">You can find two examples from the "Vidal" below, one for a substance and another for a drug.
                </p>
                <a href="https://www.vidal.fr/substances/19314/artemether/" target="_blank">
                    <button class="button">Artemether</button>
                </a>
                <a href="https://www.vidal.fr/Medicament/bactox_500_mg_gel-1841.htm" target="_blank">
                    <button class="button">Bactox</button>
                </a>
            </div>
            <div class="medium-5 large-3 columns">
                <div class="callout secondary">
                    <div>
                        <form action="{{ url_for('accueil') }}" method="post" class="row">
                            <div class="small-12 columns">
                                <label>Substance
                                    <input type="text" placeholder="Enter substance" name="substance">
                                </label>
                            </div>
                            <div class="small-12 columns">
                                <label>Excipient to prohibit
                                    <input type="text" placeholder="Enter ingredient" name"excipient">
                                </label>
                                <button type="submit" class="button">Search Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row column">
                <hr>
            </div>

            <div class="row column">
                <p class="lead">Substance</p>
            </div>
            <div class="row small-up-1 medium-up-2 large-up-3">
                <div class="column">
                    <div class="callout">
                        {% for elt in substance %}
                        <p class="lead">{{ elt.nom_substance }}</p
                        <p class="subheader">{{elt.fiche}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row column">
                <hr>
            </div>

            <div class="row column">
                <p class="lead">Drugs</p>
            </div>
            <div class="row small-up-1 medium-up-2 large-up-3">
                {% for elt in medicament %}
                    <div class="column">
                        <div class="callout">
                            <p class="lead">{{ elt.nom_medicament }}</p>
                            <p class="activeIngredient"</p>
                            <p class="descriptif">{{ elt.descriptif }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <script>
            $(document).foundation();
        </script>
    </body>
    </html>
